body{
    background-color: aqua;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: burlywood;
}
main{
    background-color: chartreuse;
}
footer{
    background-color: darkorange;
}
h2{
text-align: center;
}
img{
    float:left;
    margin-left: 50px;
    margin-top: 20px;
}
p{
    margin-right: 50px;
    text-align: justify;
    border-style: solid;
margin-left: 300px;
}